<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head th:include="layout/partials/head (pageTitle='Broadleaf Commerce Demo Store - Heat Clinic')"></head>

<body th:class="${'locale-' + session.blLocale.localeCode}">
    <th:block th:replace="layout/partials/nav" />

    <div class="main">
        <div class="container-fluid">

            <div class="row">
                <a th:href="@{/merchandise}">
                    <img class="img-responsive full-width" th:src="@{/img/ly-fullwidth.jpg}" />
                </a>
            </div>

            <div class="container">

                <div class="row text-center">
                    <div id="home_feature">
                        <h2>始終以誠信為企業基石</h2> 
                        <p>龍巖貫徹核心理念，重視企業誠信經營。自2011年起，即主動編製企業社會責任報告書，透明公開企業各年度營運資訊，強化品牌信譽保證。為提升企業社會責任報告書之公信力，今年龍巖特別聘請資誠聯合會計師事務所執行CSR報告書之確信，2019年度龍巖CSR報告書將是第一本經外部第三方查核認證之報告書，確保數據與資料品質之可信度，為消費者再度把關，成為消費者信賴、唯一首選的生命產業第一品牌！</p> 
                    </div>
                </div>

                <hr />

                <div class="row">
                    <h3 class="text-center">
                    </h3>

                    <th:block th:if="${products}" id="products" class="group" th:each="product : ${products}" th:object="${product}" >
                        <div class="col-sm-6 col-md-3"  th:if="${product.isActive()}"
                             th:include="catalog/partials/productListItem">
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="post-content" />

    <footer th:replace="layout/partials/footer"></footer>
</body>
</html>
